/***
	for SciencePark
	create 2021/3/20
	author Kinjen
***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei", -apple-system, system-ui, Helvetica, Arial, sans-serif, Impact;
  color: #000000;
  font-size: 21px;
  background-color: #efffd7;
  line-height: 1.4;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  word-break: break-word;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
select,
textarea {
  border: 1px solid #006030;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2;
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b2b2b2;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b2b2b2;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b2b2b2;
}

textarea {
  height: 150px;
  width: 100%;
}

ul.square li {
  position: relative;
  padding-left: 24px;
  margin-top: 8px;
}
ul.square li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #000000;
  position: absolute;
  left: 5px;
  top: 11px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.afterClear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.colorR {
  color: #9f0050;
}

.wrap,
.outerWrap {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1490px;
}
.wrap:after,
.outerWrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.m-hide {
  display: none !important;
}

.btn-radius {
  display: inline-block;
  width: 119px;
  height: 49px;
  line-height: 46px;
  margin: 0 15px;
  text-align: center;
}
.btn-radius:hover {
  font-weight: bold;
}
.btn-radius.btn-g {
  background: url(../src/images/btn_g2.png) no-repeat center top;
  background-size: contain;
}
.btn-radius.btn-y {
  background: url(../src/images/btn_y2.png) no-repeat center top;
  background-size: contain;
}

.btn-radius-sm {
  width: 105px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  text-align: center;
}
.btn-radius-sm:hover {
  font-weight: bold;
  color: #009100;
}
.btn-radius-sm.btn-gy {
  background: url(../src/images/btn_gy3.png) no-repeat center top;
  background-size: contain;
}

.btn {
  width: 149px;
  height: 62px;
  display: block;
  margin: 15px auto;
  text-align: center;
  background: none;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 11px 0 20px;
  outline: none;
  border: none;
  font: inherit;
}
.btn:hover {
  font-weight: bold;
}
.btn.btn-g {
  background-image: url(../src/images/btn_g.png);
}
.btn.btn-gy {
  background-image: url(../src/images/btn_gy.png);
}
.btn.btn-y {
  background-image: url(../src/images/btn_y.png);
}
.btn.btn-inline {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
.btn.btn-lg {
  width: 123px;
  height: 123px;
  padding: 15px 5px 15px 0;
}
.btn.btn-lg.btn-g {
  background-image: url(../src/images/btn_lg_g.png);
}
.btn.btn-lg.btn-y {
  background-image: url(../src/images/btn_lg_y.png);
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  left: 0;
  top: 0;
  padding: 5px 0 5px 45px;
  z-index: 99;
}
header .btn-ham {
  width: 25px;
  position: fixed;
  left: 20px;
  top: 23px;
}
header .logo {
  width: 290px;
  margin: 0 auto;
}
header .logo a {
  display: block;
}

#menu {
  position: fixed;
  top: 82px;
  left: 0;
  background-color: #efffd7;
  width: 100%;
  height: calc(100vh - 82px);
  overflow-y: auto;
  z-index: 90;
  padding-bottom: 140px;
  display: none;
}
#menu.active {
  display: block;
}
#menu ul {
  padding: 0;
  margin: 0 0 50px;
}
#menu ul li a {
  display: block;
  padding: 10px 15px;
  position: relative;
}
#menu ul li a.arrow::after {
  content: "";
  width: 10px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 18px;
  background: url(../src/images/icon_arrow_gy.svg) no-repeat center center;
  background-size: contain;
}
#menu ul li a .icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
#menu ul li a .icon.icon1 {
  background-image: url(../src/images/icon1_gy.svg);
}
#menu ul li a .icon.icon2 {
  background-image: url(../src/images/icon2_gy.svg);
}
#menu ul li a .icon.icon3 {
  background-image: url(../src/images/icon3_gy.svg);
}
#menu ul li a .icon.icon4 {
  background-image: url(../src/images/icon4_gy.svg);
}
#menu ul li a .icon.icon5 {
  background-image: url(../src/images/icon5_gy.svg);
}
#menu ul li a .icon.icon6 {
  background-image: url(../src/images/icon6_gy.svg);
}
#menu ul li a .icon.icon7 {
  background-image: url(../src/images/icon7_gy.svg);
}
#menu ul li a .icon.icon8 {
  background-image: url(../src/images/icon8_gy.svg);
}
#menu ul li a .icon.icon9 {
  background-image: url(../src/images/icon9_gy.svg);
}
#menu ul li a .icon.icon10 {
  background-image: url(../src/images/icon10_gy.svg);
}
#menu ul li a .icon.icon11 {
  background-image: url(../src/images/icon11_gy.svg);
}
#menu ul li a .icon.icon12 {
  background-image: url(../src/images/icon12_gy.svg);
}
#menu ul li a .icon.icon13 {
  background-image: url(../src/images/icon13_gy.svg);
}
#menu ul li a .icon.icon14 {
  background-image: url(../src/images/icon14_gy.svg);
}
#menu ul li a .icon.icon15 {
  background-image: url(../src/images/icon15_gy.svg);
}
#menu ul li a:hover {
  font-weight: bold;
  background-color: #467500;
  color: #ffffff;
}
#menu ul li a:hover.arrow::after {
  background-image: url(../src/images/icon_arrow.svg);
}
#menu ul li a:hover .icon.icon1 {
  background-image: url(../src/images/icon1.svg);
}
#menu ul li a:hover .icon.icon2 {
  background-image: url(../src/images/icon2.svg);
}
#menu ul li a:hover .icon.icon3 {
  background-image: url(../src/images/icon3.svg);
}
#menu ul li a:hover .icon.icon4 {
  background-image: url(../src/images/icon4.svg);
}
#menu ul li a:hover .icon.icon5 {
  background-image: url(../src/images/icon5.svg);
}
#menu ul li a:hover .icon.icon6 {
  background-image: url(../src/images/icon6.svg);
}
#menu ul li a:hover .icon.icon7 {
  background-image: url(../src/images/icon7.svg);
}
#menu ul li a:hover .icon.icon8 {
  background-image: url(../src/images/icon8.svg);
}
#menu ul li a:hover .icon.icon9 {
  background-image: url(../src/images/icon9.svg);
}
#menu ul li a:hover .icon.icon10 {
  background-image: url(../src/images/icon10.svg);
}
#menu ul li a:hover .icon.icon11 {
  background-image: url(../src/images/icon11.svg);
}
#menu ul li a:hover .icon.icon12 {
  background-image: url(../src/images/icon12.svg);
}
#menu ul li a:hover .icon.icon13 {
  background-image: url(../src/images/icon13.svg);
}
#menu ul li a:hover .icon.icon14 {
  background-image: url(../src/images/icon14.svg);
}
#menu ul li a:hover .icon.icon15 {
  background-image: url(../src/images/icon15.svg);
}
#menu ul li .sub {
  width: 100%;
  padding: 0;
  margin: 0;
  display: none;
}
#menu ul li .sub.active {
  display: block;
}
#menu ul li .sub li a {
  padding-left: 56px;
}
#menu .btn-close {
  width: 33px;
  height: 33px;
  background-color: #548c00;
  display: inline-block;
}

.container {
  padding-top: 82px;
  height: 100vh;
  position: relative;
  overflow-y: auto;
}
.container .section {
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.container .section .wrap {
  max-width: 560px;
}
.container .section .btn-block {
  margin-top: 100px;
  margin-bottom: 30px;
}
.container .section.section-box .btn-block {
  margin-top: 10px;
}
.container .section .title {
  background-color: #467500;
  color: #ffffff;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  padding: 3px 20px;
  margin-bottom: 15px;
}
.container .section .title span {
  display: inline-block;
  padding: 0 10px;
  line-height: 1;
  border-left: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.container .section .sub-title {
  padding: 3px 20px;
  margin-bottom: 15px;
  background-color: #70b32c;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
}
.container .section .sub-title span {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
  font-size: 17px;
  font-weight: normal;
}
.container .section .btn-group {
  margin-bottom: 20px;
}
.container .section .btn-group .col {
  display: inline-block;
  vertical-align: top;
}
.container .section .btn-group .col p {
  margin-top: 5px;
  font-size: 10px;
}
.container .page-content .content {
  padding: 20px;
  font-size: 17px;
  line-height: 1.6;
}
.container .page-content .content ul.list {
  margin-bottom: 10px;
}
.container .page-content .content ul.list li {
  padding: 5px 0;
}
.container .page-content .content ul.list li .name {
  float: left;
  width: 120px;
  margin-right: 10px;
  padding: 5px;
}
.container .page-content .content ul.list li .text {
  overflow: hidden;
  padding: 5px;
  border: 1px solid #bfbebe;
}
.container .page-content .content ul.list li .text select {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.container .page-content .content .sol {
  padding: 5px;
  border: 1px solid #bfbebe;
}
.container .page-content .btn-next {
  padding: 0 30px;
  margin-top: 10px;
  font-size: 17px;
}
.container .page-content .btn-next:hover {
  color: #467500;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  outline: none;
  width: 13px;
  height: 19px;
  margin-top: -9px;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  display: none;
}
.swiper .swiper-button-next.swiper-button-disabled,
.swiper .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.swiper .swiper-pagination-bullet {
  background-color: #e6e6e6;
  opacity: 1;
}
.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #64a600;
}

footer {
  font-size: 14px;
  text-align: center;
  color: #467500;
  font-weight: bold;
  padding-top: 60px;
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: #efffd7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00467500', endColorstr='#FF467500');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2NzUwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Njc1MDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(70, 117, 0, 0)), color-stop(100%, #467500));
  background-image: -moz-linear-gradient(top, rgba(70, 117, 0, 0) 0%, #467500 100%);
  background-image: -webkit-linear-gradient(top, rgba(70, 117, 0, 0) 0%, #467500 100%);
  background-image: linear-gradient(to bottom, rgba(70, 117, 0, 0) 0%, #467500 100%);
}

.pageSwiper {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}
.pageSwiper .pageBanner {
  width: 100%;
  height: calc(100vw * 470 / 768);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.row {
  font-size: 0;
}
.row .col {
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  width: 100%;
}
.row .col.col3 {
  width: calc(100% / 3);
}
.row .box .name {
  padding: 5px 10px;
  background-color: #467500;
  color: #ffffff;
  margin-bottom: 10px;
}

.input-row {
  display: flex;
}
.input-row .input-name {
  min-width: 65px;
}
.input-row .input-text {
  flex-grow: 1;
  padding-left: 15px;
}
.input-row .input-text input,
.input-row .input-text select {
  width: 100%;
}

.input-box .input-name {
  display: block;
}
.input-box .input-text input {
  width: 100%;
}

.ps {
  font-size: 14px;
}

.table-wrap {
  position: relative;
}
.table-wrap.scroll::after {
  position: absolute;
  width: 100px;
  height: 100%;
  right: 0;
  top: 0;
  content: '';
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  pointer-events: none;
}
.table-wrap .table-scroll {
  overflow-x: auto;
}
.table-wrap table {
  border-collapse: collapse;
  min-width: 100%;
}
.table-wrap table td,
.table-wrap table th {
  padding: 10px 15px;
  white-space: nowrap;
}
.table-wrap table thead {
  background-color: #70b32c;
  color: #ffffff;
  font-size: 18px;
}
.table-wrap table thead th {
  font-weight: bold;
}
.table-wrap table tbody {
  font-size: 17px;
}
.table-wrap table tbody tr:nth-child(2n) {
  background-color: #eae9e8;
}
.table-wrap table tbody tr:nth-child(2n + 1) {
  background-color: #ffffff;
}
.table-wrap table tbody td .tag {
  display: inline-block;
  background-color: #70b32c;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
.table-wrap table tbody td .tag.read {
  background-color: #467500;
}
.table-wrap table tbody td .tag.tag-g1 {
  background-color: #73be00;
}
.table-wrap table tbody td .tag.tag-g2 {
  background-color: #467500;
}
.table-wrap table tbody td .tag.tag-gy {
  background-color: #cbcbcb;
}
.table-wrap table tbody td .star {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.table-wrap table tbody td .star.star-full {
  background-image: url(../src/images/icon_star_full.svg);
}
.table-wrap table tbody td .star.star-air {
  background-image: url(../src/images/icon_star_air.svg);
}
.table-wrap table tbody td .icon-view {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
}

.btn-top {
  width: 39px;
  height: 39px;
  position: fixed;
  z-index: 80;
  right: 20px;
  bottom: 20px;
}

.member {
  position: fixed;
  top: 30%;
  right: 20px;
  z-index: 80;
  width: 46px;
  text-align: center;
}
.member .icon {
  width: 46px;
  height: 46px;
}
.member .name {
  width: 26px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  background-color: #009100;
  padding: 10px 0;
  margin-top: -10px;
  line-height: 1.2;
}

.page-pagination {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.page-pagination ul {
  display: inline-block;
  vertical-align: top;
}
.page-pagination ul li {
  display: inline-block;
  vertical-align: top;
}
.page-pagination ul li .page-btn {
  display: block;
}
.page-pagination .page-btn {
  display: inline-block;
  vertical-align: top;
  min-width: 27px;
  height: 27px;
  line-height: 25px;
  background-color: #ffffff;
  margin: 0 1px;
  text-align: center;
  border: 1px solid #bfbebe;
  font-size: 16px;
}
.page-pagination .page-btn.active {
  color: #ffffff;
  background-color: #467500;
}

.gallery-swiper {
  padding: 0 30px;
  position: relative;
}
.gallery-swiper .gallery-button-prev,
.gallery-swiper .gallery-button-next {
  position: absolute;
  outline: none;
  top: 50%;
  width: 13px;
  height: 19px;
  margin-top: -9px;
}
.gallery-swiper .gallery-button-prev svg,
.gallery-swiper .gallery-button-next svg {
  fill: #b2b2b2;
}
.gallery-swiper .gallery-button-prev.swiper-button-disabled,
.gallery-swiper .gallery-button-next.swiper-button-disabled {
  display: none;
}
.gallery-swiper .gallery-button-prev {
  left: 10px;
}
.gallery-swiper .gallery-button-next {
  right: 10px;
}
.gallery-swiper .gallery-item {
  height: calc((50vw - 50px) * 560 / 768);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  padding: 80px 50px;
  display: none;
}
.popup.active {
  display: block;
}
.popup .popup-close {
  width: 40px;
  height: 40px;
  background-color: #548c00;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px;
  display: block;
}

.popup-swiper {
  position: relative;
}
.popup-swiper .popup-button-next,
.popup-swiper .popup-button-prev {
  outline: none;
  top: 50%;
  position: absolute;
  width: 26px;
  height: 38px;
  margin-top: -19px;
  z-index: 999;
}
.popup-swiper .popup-button-next svg,
.popup-swiper .popup-button-prev svg {
  fill: #b2b2b2;
}
.popup-swiper .popup-button-next.swiper-button-disabled,
.popup-swiper .popup-button-prev.swiper-button-disabled {
  display: none;
}
.popup-swiper .popup-button-next {
  right: -40px;
}
.popup-swiper .popup-button-prev {
  left: -40px;
}
.popup-swiper .popup-swiper-item {
  text-align: center;
}

.feedback {
  width: 280px;
  background-color: rgba(60, 60, 60, 0.9);
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: 999;
  margin-left: -140px;
  padding: 70px 10px;
}
.feedback .box {
  color: #64a600;
  font-weight: bold;
  font-size: 23px;
  padding: 50px 0;
  border-top: 2px solid #9e9e9f;
  border-bottom: 2px solid #9e9e9f;
}
.feedback .btn-close {
  width: 33px;
  height: 33px;
  background-color: #548c00;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
.feedback .btn-close-sm {
  width: 97px;
  height: 49px;
  display: inline-block;
  margin-top: 15px;
}

.replyWindow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(60, 60, 60, 0.9);
  z-index: 99;
}
.replyWindow .window {
  width: 280px;
  background-color: #ffffff;
  position: fixed;
  left: 50%;
  top: 20%;
  z-index: 100;
  margin-left: -140px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
}
.replyWindow .window .title {
  background-color: #e5e5e5;
  padding: 10px 15px;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
}
.replyWindow .window .title::before {
  content: "";
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-right: 10px;
  background: url(../src/images/icon_replay.svg) no-repeat center center;
  vertical-align: top;
  margin-top: 5px;
}
.replyWindow .window .box {
  font-size: 17px;
  padding: 15px;
  line-height: 1.6;
}
.replyWindow .window .box .top {
  border-bottom: 1px dashed #d0d0d0;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.replyWindow .window .box .top .date {
  width: 100px;
  margin-right: 15px;
}
.replyWindow .window .box .top .info {
  overflow: hidden;
}
.replyWindow .window .box .top .info p {
  overflow: hidden;
  white-space: nowrap;
  color: #467500;
  text-overflow: ellipsis;
}

#index {
  padding-bottom: 0;
}
#index #indexBanner .index-swiper-banner {
  width: 100%;
  height: calc(100vh - 82px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#member .memberSection {
  padding-top: 40px;
  max-width: 700px;
  margin: 0 auto;
}
#member .memberSection ul li {
  margin-bottom: 30px;
}
#member .memberSection ul li a {
  display: block;
  text-align: center;
  color: #64a600;
  font-size: 21px;
}
#member .memberSection ul li a .icon {
  width: 70px;
  height: 70px;
  background-color: #64a600;
  margin: 0 auto 5px;
  border-radius: 100%;
  padding: 5px;
}
#member .memberSection ul li a:hover {
  color: #467500;
  font-weight: bold;
}
#member .memberSection ul li a:hover .icon {
  background-color: #467500;
}

.login-header {
  padding-top: 30px;
}
.login-header .logo {
  width: 282px;
  margin: 0 auto;
}

#login {
  min-height: calc(100vh - 247px);
  height: auto;
  padding-top: 40px;
}
#login .section {
  max-width: 480px;
  margin: 0 auto;
}
#login h2 {
  font-size: 24px;
  font-weight: bold;
  color: #467500;
  margin-bottom: 10px;
}
#login .input-row .input-name img {
  width: 150px;
  height: auto;
}
#login .input-row .input-name a {
  display: block;
  text-align: center;
  font-size: 14px;
}
#login .input-row .input-name a .icon {
  width: 14px;
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
  margin-right: 5px;
}
#login .input-row .input-text input {
  font-size: 14px;
  padding: 10px;
  border-color: #73be00;
}
#login .input-box {
  margin-bottom: 10px;
}
#login .input-box .input-text input {
  background-color: #eae9e8;
  border: none;
  font-size: 14px;
  color: #467500;
  padding: 15px;
}
#login .input-box .input-text input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #467500;
}
#login .input-box .input-text input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #467500;
}
#login .input-box .input-text input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #467500;
}
#login .input-box .input-text input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #467500;
}
#login .btn-block {
  margin-top: 40px;
  margin-bottom: 25px;
}
#login .btn-block .btn-send {
  display: inline-block;
  width: 170px;
  background: none;
  border: none;
  outline: none;
  filter: drop-shadow(0px 0px 8px white) drop-shadow(0px 0px 8px white) drop-shadow(0px 0px 10px white);
}
#login .loading {
  display: none;
}
#login .loading.active {
  display: block;
}
#login .loading .loading-icon {
  width: 128px;
  height: 128px;
  margin: 0 auto 20px;
  filter: drop-shadow(0px 0px 5px rgba(80, 237, 21, 0.86));
  -webkit-animation: loading 1s steps(7) infinite;
  animation: loading 1s steps(7) infinite;
}
#login .loading p {
  font-size: 21px;
  font-weight: bold;
  padding-left: 20px;
  text-shadow: 0px 0px 5px rgba(80, 237, 21, 0.86);
}
#login p {
  font-size: 14px;
  color: #467500;
}

#serviceList .service-icon {
  display: inline-block;
  width: 35px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
}
#serviceList .service-icon.icon0 {
  background-image: url(../src/images/icon_repair1.svg);
}
#serviceList .service-icon.icon1 {
  background-image: url(../src/images/icon_repair2.svg);
}
#serviceList .service-icon.icon2 {
  background-image: url(../src/images/icon_repair3.svg);
}
#serviceList .service-icon.icon3 {
  background-image: url(../src/images/icon_repair4.svg);
}
#serviceList .service-icon.icon4 {
  background-image: url(../src/images/icon_repair5.svg);
}
#serviceList .service-icon.icon5 {
  background-image: url(../src/images/icon_repair6.svg);
}
#serviceList .service-icon.icon6 {
  background-image: url(../src/images/icon_repair7.svg);
}
#serviceList .service-icon.icon7 {
  background-image: url(../src/images/icon_repair8.svg);
}
#serviceList .btn-group .col {
  margin-bottom: 10px;
}

#serviceTop h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
#serviceTop .btn-block {
  margin-top: 0;
  margin-bottom: 0;
}
#serviceTop .btn-block .btn {
  display: inline-block;
  margin: 0 10px;
}
#serviceTop .page-content {
  padding: 15px;
  margin-bottom: 0;
}
#serviceTop .page-content textarea {
  border: none;
  margin-top: 15px;
}
#serviceTop .upload-group {
  margin-top: 15px;
  margin-bottom: 50px;
}
#serviceTop .upload-group .btn-block {
  margin-bottom: 15px;
}
#serviceTop .upload-group .btn-block label {
  width: 94px;
  height: 94px;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
#serviceTop .upload-group .btn-block input {
  opacity: 0;
  position: fixed;
  z-index: -999;
}
#serviceTop .upload-group .preview-block .preview {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  margin: 0 5px;
}
#serviceTop .upload-group .preview-block .preview img {
  max-width: 100%;
}

#serviceResult h2 {
  font-weight: bold;
  margin-bottom: 25px;
}
#serviceResult p {
  font-size: 20px;
  font-weight: bold;
  color: #009100;
  line-height: 1.8;
}

#question h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
#question ul {
  margin-bottom: 15px;
}
#question ul.list {
  font-weight: bold;
}
#question .page-content {
  padding: 15px;
  margin: 0 auto;
}
#question .page-content .box {
  margin: 25px auto 30px;
  max-width: 450px;
}
#question .page-content .box textarea {
  margin-top: 15px;
}
#question .page-content .star-list li {
  margin: 20px 0;
}
#question .page-content .star-list li::after {
  clear: both;
  display: block;
  width: 100%;
  height: 0;
  content: "";
}
#question .page-content .star-list li .name {
  float: left;
  width: 90px;
}
#question .page-content .star-list li .star-box {
  overflow: hidden;
}
#question .page-content .star-list li .star-box input {
  display: none;
}
#question .page-content .star-list li .star-box input:checked + label ~ label {
  background-image: url(../src/images/icon_star_air.svg);
}
#question .page-content .star-list li .star-box label {
  width: 31px;
  height: 29px;
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;
  background: url(../src/images/icon_star_full.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  .outerWrap {
    max-width: 860px;
  }

  .m-hide {
    display: inherit !important;
  }

  .pc-hide {
    display: none !important;
  }

  .btn {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
  }

  header {
    position: static;
    background-color: transparent;
    padding: 40px 0 20px 0;
  }
  header .logo {
    width: 240px;
    float: left;
    margin-right: 15px;
  }

  #menu {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    padding-bottom: 0;
    display: block;
    overflow: visible;
  }
  #menu ul {
    padding: 0;
    margin: 0;
  }
  #menu ul li {
    border-bottom: none;
    display: inline-block;
    vertical-align: top;
    width: calc(100% / 15);
    max-width: 62px;
    border-left: 1px solid #d0fa91;
    position: relative;
  }
  #menu ul li a {
    background-color: #467500;
    padding: 5px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
  #menu ul li a .icon {
    display: none;
  }
  #menu ul li a.arrow::after {
    display: none;
  }
  #menu ul li:hover .sub {
    display: block !important;
  }
  #menu ul li .sub {
    position: absolute;
    top: calc(100% + 10px);
    background-color: rgba(60, 60, 60, 0.9);
    z-index: 99;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    padding: 30px 15px;
  }
  #menu ul li .sub.active {
    display: none;
  }
  #menu ul li .sub::before {
    position: absolute;
    top: -10px;
    left: 50%;
    content: "";
    margin-left: -2.5px;
    border-style: solid;
    border-width: 10px 5px;
    border-color: #467500 transparent transparent;
  }
  #menu ul li .sub::after {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    height: 10px;
    width: 100%;
  }
  #menu ul li .sub li {
    max-width: none;
    white-space: nowrap;
    display: block;
    text-align: center;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #ffffff;
    border-top: none;
  }
  #menu ul li .sub li:first-child {
    border-top: 1px solid #ffffff;
  }
  #menu ul li .sub li a {
    background-color: transparent;
    color: #d0fa91;
    padding-left: 12px;
  }
  #menu ul li .sub li a:hover {
    color: #f9f900;
  }

  .container {
    padding-top: 0;
    padding-bottom: 150px;
    min-height: calc(100vh - 120px);
    height: auto;
  }
  .container .section {
    padding: 40px 0 0;
  }
  .container .section.section-box .btn-block {
    margin-top: 15px;
  }
  .container .section .sub-title {
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
  }
  .container .section .sub-title span {
    float: right;
  }
  .container .page-content {
    padding: 35px;
    background-color: #ffffff;
  }
  .container .page-content .img {
    width: 50%;
    float: left;
  }
  .container .page-content .content {
    overflow: hidden;
    padding-right: 0;
  }
  .container .page-content .content.single-content {
    padding: 0;
  }
  .container .page-content .content .sol {
    min-height: 150px;
  }
  .container .page-content .btn-next {
    padding: 0 10px;
    margin: 5px 0;
  }
  .container .page-content textarea {
    height: 300px;
  }

  footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 0;
  }

  .pageSwiper .pageBanner {
    height: calc(100vw * 226 / 1450);
  }

  .row .col {
    padding: 0 10px;
  }
  .row .col.pc-col6 {
    width: calc(100% / 6);
  }
  .row .col.pc-col2 {
    width: calc(100% / 2);
  }

  .table-wrap .table-scroll {
    overflow-x: visible;
  }
  .table-wrap table td,
  .table-wrap table th {
    white-space: normal;
  }
  .table-wrap table td.m-hide,
  .table-wrap table th.m-hide {
    display: table-cell !important;
  }
  .table-wrap table tbody td .star {
    width: 20px;
    height: 20px;
  }

  .member {
    top: 40%;
  }

  .page-pagination {
    padding-left: 100px;
  }
  .page-pagination .totle {
    display: inline-block !important;
    vertical-align: top;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 20px;
  }

  .gallery-swiper {
    margin: 0 -35px;
    padding: 0 35px;
  }
  .gallery-swiper .swiper-button-prev,
  .gallery-swiper .swiper-button-next {
    outline: none;
    width: 13px;
    height: 19px;
    margin-top: -9px;
  }
  .gallery-swiper .swiper-button-prev::after,
  .gallery-swiper .swiper-button-next::after {
    display: none;
  }
  .gallery-swiper .swiper-button-prev svg,
  .gallery-swiper .swiper-button-next svg {
    fill: #b2b2b2;
  }
  .gallery-swiper .gallery-item {
    height: calc(((100vw - 70px) / 7) * 560 / 768);
  }

  .feedback {
    width: 375px;
    margin-left: -188px;
  }

  .replyWindow .window {
    width: 460px;
    margin-left: -230px;
  }
  .replyWindow .window .title {
    padding: 10px 25px;
  }
  .replyWindow .window .box {
    padding: 15px 25px;
  }

  #index #indexBanner .index-swiper-banner {
    height: calc(100vw * 586 / 1443);
  }

  #member .memberSection {
    padding-top: 75px;
    text-align: center;
  }
  #member .memberSection .btn-block {
    margin-top: 80px;
  }

  .login-header {
    padding-top: 100px;
  }
  .login-header .logo {
    width: 730px;
  }

  #login {
    min-height: calc(100vh - 283px);
    padding-bottom: 150px;
  }
  #login .section {
    max-width: 350px;
  }
  #login h2 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  #login .input-row .input-name img {
    width: 80px;
  }
  #login .input-row .input-name a {
    font-size: 18px;
  }
  #login .input-row .input-text input {
    font-size: 18px;
  }
  #login .input-box {
    margin-bottom: 20px;
  }
  #login .input-box .input-text input {
    font-size: 18px;
  }
  #login .btn-block .btn-send {
    width: 214px;
  }
  #login .loading .loading-icon {
    width: 235px;
    height: 235px;
    margin-bottom: 35px;
  }
  #login .loading p {
    font-size: 38px;
    padding-left: 20px;
  }
  #login p {
    font-size: 18px;
  }

  #setting .row .col {
    padding: 0 40px;
  }
  #setting .row .col.pc-col1 .input-row {
    display: flex !important;
  }

  #serviceList .service-icon {
    width: 45px;
    height: 41px;
  }
  #serviceList .btn-group .col {
    margin-bottom: 0;
  }

  #serviceTop .page-content {
    padding: 15px 35px;
    margin-bottom: 50px;
  }

  #question ul {
    margin: 25px 0;
  }
  #question ul.list {
    font-size: 0;
  }
  #question ul.list li {
    font-size: 21px;
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
  }
  #question .page-content {
    background-color: transparent;
    padding: 0;
  }
  #question .page-content p {
    text-align: center;
    margin: 30px 0;
  }
  #question .page-content .star-list li {
    margin: 30px 0;
  }
}
@media screen and (min-width: 1490px) {
  header .logo {
    width: 400px;
  }

  #menu {
    padding-top: 18px;
  }
  #menu ul li {
    max-width: 67px;
  }
  #menu ul li a {
    padding: 12px;
  }

  .container {
    min-height: calc(100vh - 160px);
  }

  .pageSwiper .pageBanner {
    height: 226px;
  }

  .gallery-swiper .gallery-item {
    height: 109px;
  }

  .popup-swiper .popup-button-next {
    right: 10px;
  }
  .popup-swiper .popup-button-prev {
    left: 10px;
  }

  #index #indexBanner .index-swiper-banner {
    height: 586px;
  }
}
@-webkit-keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(315deg);
  }
}
@-moz-keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(315deg);
  }
}
@-ms-keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(315deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(315deg);
  }
}
