<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta property="og:title" content="南部科學園區" />
	<meta property="og:description" content="南部科學園區" />
	<meta property="og:image" content="img/FB.jpg" />
	<meta name="keywords" content="南部科學園區" />
	<meta name="description" content="南部科學園區" />
	<title>南部科學園區</title>
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="wrap">
				<a href="javascript:;" class="btn-ham pc-hide" @click="isMenu = !isMenu"><img src="src/images/btn_ham.svg" alt="選單"></a>
				<h1 class="logo"><a href="member.html"><img src="src/images/logo.svg" alt="南區科學園區Logo"></a></h1>
				<nav id="menu" :class="(isMenu == 1)?'active':''">
					<div class="btn-block text-right pc-hide">
						<a class="btn-close" @click="isMenu = 0"><img src="src/images/btn_close.svg" alt="關閉選單"></a>
					</div>
					<ul>
						<li v-for="(item, key) in menu">
							<a @click="menuSubOpen" v-if="item.sub" class="arrow"><span class="icon" :class="'icon'+(key+1)"></span>{{ item.text }}</a>
							<a :href="item.url" v-else><span class="icon" :class="'icon'+(key+1)"></span>{{ item.text }}</a>
							<ul class="sub" v-if="item.sub">
								<li v-for="subItem in item.sub">
									<a :href="subItem.url">{{ subItem.text }}</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="btn-block text-center pc-hide">
						<a href="subscribe4.html" class="btn-radius btn-g">取消訂閱</a>
						<a href="setting.html" class="btn-radius btn-y">設定更新</a>
					</div>
				</nav>
			</div>
		
		</header>
		<div class="container" id="mailList">
			<a class="scrollTop" style="display:none;"></a>
			 
<section class="pageSwiper">
    <swiper :options="fullSwiperOption" ref="pageSwiper" class="swiper">
        <swiper-slide v-for="banner in pageBanners">
            <div class="pageBanner pc-hide" :style="'background-image:url('+banner.mobileImg+')'"></div>
            <div class="pageBanner m-hide" :style="'background-image:url('+banner.webImg+')'"></div>
        </swiper-slide>
        <div class="swiper-button-next" slot="button-next"><img src="src/images/btn_arrow_right.svg"></div>
        <div class="swiper-button-prev" slot="button-prev"><img src="src/images/btn_arrow_left.svg"></div>
        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
</section><section class="section">
    <h2 class="title"><span>郵件通知</span></h2>
    <div class="table-wrap">
        <div class="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="pc-hide text-center">備註</th>
                        <th class="text-center">項次</th>
                        <th>郵件通知</th>
                        <th>信件類別</th>
                        <th>函件編號</th>
                        <th>尺寸</th>
                        <th>貨運公司</th>
                        <th>通知時間</th>
                        <th class="m-hide text-center">備註</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, idx) in mailList">
                        <td class="pc-hide text-center"><div class="tag" :class="['tag-gy','tag-g1','tag-g2'][item.isReceive]">{{ ['未領取','已領取','已退件'][item.isReceive]}}</div></td>
                        <td class="text-center">{{ idx+1 }}</td>
                        <td>{{ item.addressee }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.mailNumber }}</td>
                        <td>{{ item.place }}</td>
                        <td>{{ item.transport }}</td>
                        <td>{{ item.date }}</td>
                        <td class="m-hide text-center">
                            <div class="tag" :class="['tag-gy','tag-g1','tag-g2'][item.isReceive]">{{ ['未領取','已領取','已退件'][item.isReceive]}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="btn-block text-center">
        <a href="member.html" class="btn btn-gy">回首頁</a>
    </div>
    <div class="page-pagination">
        <a class="page-btn btn-first" @click="paginationTo(1)"><img src="src/images/page_arrow_first.svg"></a>
        <a class="page-btn btn-prev" @click="paginationTo(pagination.active-1)"><img src="src/images/page_arrow_prev.svg"></a>
        <ul>
            <li v-for="(item, idx) in pagination.per"><a class="page-btn" @click="paginationTo(idx + pagination.page)" :class="pagination.active == (idx + pagination.page)?'active':'' ">{{ idx + pagination.page }}</a></li>
        </ul>
        <a class="page-btn btn-next" @click="paginationTo(pagination.active+1)"><img src="src/images/page_arrow_next.svg"></a>
        <a class="page-btn btn-last" @click="paginationTo(pagination.totle)"><img src="src/images/page_arrow_last.svg"></a>
        <span class="totle m-hide">共{{ newsList.length }}筆 / 共{{ pagination.totle }}頁</span>
    </div>
    <div class="member">
    <div class="icon"><img src="src/images/icon_member.svg"></div>
    <div class="name">王小華您好</div>
</div>
</section>
			
			<footer>
				<p>24HR維修中心專線：<a href="tel:06-5052772">06-5052772</a></p>
			</footer>
			
		</div>
		
		<a href="#" class="btn-top" @click="toTop()"><img src="src/images/btn_top.svg" alt="回上方"></a>
		
		
	</div>
	<script src="js/es6-promise.auto.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/vue-awesome-swiper.js"></script>
	<script src="js/app.js"></script>

	
</body>
</html>