<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<meta property="og:title" content="南部科學園區" />
	<meta property="og:description" content="南部科學園區" />
	<meta property="og:image" content="img/FB.jpg" />
	<meta name="keywords" content="南部科學園區" />
	<meta name="description" content="南部科學園區" />
	<title>南部科學園區</title>
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="app">
		<header>
			<div class="wrap">
				<a href="javascript:;" class="btn-ham pc-hide" @click="isMenu = !isMenu"><img src="src/images/btn_ham.svg" alt="選單"></a>
				<h1 class="logo"><a href="member.html"><img src="src/images/logo.svg" alt="南區科學園區Logo"></a></h1>
				<nav id="menu" :class="(isMenu == 1)?'active':''">
					<div class="btn-block text-right pc-hide">
						<a class="btn-close" @click="isMenu = 0"><img src="src/images/btn_close.svg" alt="關閉選單"></a>
					</div>
					<ul>
						<li v-for="(item, key) in menu">
							<a @click="menuSubOpen" v-if="item.sub" class="arrow"><span class="icon" :class="'icon'+(key+1)"></span>{{ item.text }}</a>
							<a :href="item.url" v-else><span class="icon" :class="'icon'+(key+1)"></span>{{ item.text }}</a>
							<ul class="sub" v-if="item.sub">
								<li v-for="subItem in item.sub">
									<a :href="subItem.url">{{ subItem.text }}</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="btn-block text-center pc-hide">
						<a href="subscribe4.html" class="btn-radius btn-g">取消訂閱</a>
						<a href="setting.html" class="btn-radius btn-y">設定更新</a>
					</div>
				</nav>
			</div>
		
		</header>
		<div class="container" id="question">
			<a class="scrollTop" style="display:none;"></a>
			 
<section class="pageSwiper">
    <swiper :options="fullSwiperOption" ref="pageSwiper" class="swiper">
        <swiper-slide v-for="banner in pageBanners">
            <div class="pageBanner pc-hide" :style="'background-image:url('+banner.mobileImg+')'"></div>
            <div class="pageBanner m-hide" :style="'background-image:url('+banner.webImg+')'"></div>
        </swiper-slide>
        <div class="swiper-button-next" slot="button-next"><img src="src/images/btn_arrow_right.svg"></div>
        <div class="swiper-button-prev" slot="button-prev"><img src="src/images/btn_arrow_left.svg"></div>
        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
</section><section class="section">
    <h2 class="text-center">單身三期 A1-101</h2>
    <h3 class="title"><span>報修的滿意問卷調查</span></h3>
    <ul class="list text-center">
        <li>報修序號:10910-001</li>
        <li>通報時間:109/10/01 22:36</li>
        <li>通報單編號:TA-1091022-03</li>
    </ul>
    <div class="page-content">
        <p>為提升園區服務品質，關於本次報修的內容，請您給予意見回饋，以提升下次更好的服務品質!!</p>
        <div class="box">
            <ul class="star-list">
                <li v-for="(item, key) in 4">
                    <div class="name">{{ ['服務速度', '服務品質', '服務態度', '符合需求'][key] }}</div>
                    <div class="star-box">
                        <input type="radio" :name="'star'+key" :id="'star'+key+'-1'" value="1" v-model="star[key]">
                        <label :for="'star'+key+'-1'"></label>
                        <input type="radio" :name="'star'+key" :id="'star'+key+'-2'" value="2" v-model="star[key]">
                        <label :for="'star'+key+'-2'"></label>
                        <input type="radio" :name="'star'+key" :id="'star'+key+'-3'" value="3" v-model="star[key]">
                        <label :for="'star'+key+'-3'"></label>
                        <input type="radio" :name="'star'+key" :id="'star'+key+'-4'" value="4" v-model="star[key]">
                        <label :for="'star'+key+'-4'"></label>
                        <input type="radio" :name="'star'+key" :id="'star'+key+'-5'" value="5" v-model="star[key]">
                        <label :for="'star'+key+'-5'"></label>
                    </div>
                </li>
            </ul>
            <h3>服務建議</h3>
            <textarea placeholder="若有需要改進的建議請輸入(100字敘述)"></textarea>
        </div>
    </div>
    <div class="btn-block text-center">
        <a @click="applySend(star)" class="btn btn-inline btn-g">送出</a>
    </div>
    <div class="member">
    <div class="icon"><img src="src/images/icon_member.svg"></div>
    <div class="name">王小華您好</div>
</div>
</section>

<div class="feedback" v-show="isFeedback">
    <a @click="isFeedback=false" class="btn-close"><img src="src/images/btn_close.svg" alt="關閉視窗"></a>
    <div class="box text-center">
        <p>感謝您的意見回饋</p>
    </div>
</div>
			
			<footer>
				<p>24HR維修中心專線：<a href="tel:06-5052772">06-5052772</a></p>
			</footer>
			
		</div>
		
		<a href="#" class="btn-top" @click="toTop()"><img src="src/images/btn_top.svg" alt="回上方"></a>
		
		
	</div>
	<script src="js/es6-promise.auto.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/vue-awesome-swiper.js"></script>
	<script src="js/app.js"></script>

	
</body>
</html>